# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used b Data Scientists
* Create a code with simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| ------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
min=200
print( min, 'minutes is', min//60, "hours")

200 minutes is 3 hours

## Author
Fernanda Villagr√°n